:root {
	--bs-font-sans-serif: Roboto, sans-serif;
	--bs-body-font-weight: 400;
	--bs-body-color: #000000;
	--bs-body-color-rgb: 0, 0, 0;
	--light-color: #000000;
	--bs-body-font-size: 1.2rem;
}

body {
	background-color: #f4f4f4;
	color: #000000;
}

a {
	word-break: break-word;
	text-decoration: none;
	color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
	color: #000000;
}

@media print {
	:root {
		--bs-body-color: #000;
	}

	body {
		background-color: #ffffff;
		font-size: 0.7rem;
	}

	a {
		text-decoration: underline;
	}

	.page {
		min-width: 100%;
		box-shadow: none;
		border-radius: 0;
	}

	.screen {
		display: none;
	}

	.card {
		border: none;
	}

	.card-body {
		padding: 0;
	}

	.badge {
		border: 0.07rem solid #868e96;
		color: inherit;
		background-color: inherit;
	}

	.print-url {
		color: #deeef9;
		text-decoration: none;
		font-size: smaller;
	}

	.text-print-right {
		text-align: right;
	}
}

@media not print {
	.page {
		padding: 2rem;
		background-color: #ffffff;
		border-radius: 10px;
		box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
	}

	.print {
		display: none;
	}

	h2 {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	dt {
		font-weight: normal;
	}

	strong {
		font-weight: 500;
	}
}

.page * {
	color: #000000 !important;
}

.far,
.fab,
.fas,
.fa {
	text-decoration: none !important;
	margin-right: 5px;
}

.badge {
	font-weight: normal;
	letter-spacing: 0.05rem;
}

@media print {
	.col-print-1 {
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-print-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.border-print-0 {
		border-width: 0 !important;
	}

	.pb-print-0 {
		padding-bottom: 0 !important;
	}

	.mb-print-1 {
		margin-bottom: 1rem !important;
	}
}

.fact-icon {
	width: 1em;
	color: #000000;
	margin-right: 0.5rem;
}

@page {
	size: auto;
	margin: 10mm;
}

.skills {
	position: relative;
	display: inline-block;
	font-size: 1.2rem;
}

.skills::after {
	display: block;
	content: '•••••';
	color: var(--light-color);
}

.skills-bar {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}

.skills-bar::after {
	display: block;
	content: '•••••';
	color: #000000;
}

p {
	margin-bottom: 0.15rem;
	line-height: 1.4;
}

.under {
	text-decoration: underline;
}

.sand {
	color: #bdc3c7;
}

.pumice {
	color: #d2d7d3;
}

.cascade {
	color: #95a5a6;
}

.silver {
	color: #bfbfbf;
}

.lynch {
	color: #6c7a89;
}

.lynchre {
	color: #7d8b9a;
}

.lynchin {
	color: #172534;
}

.lynchin2 {
	color: #061423;
}

.fs-5 {
	font-size: 1.1rem !important;
}
